<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Robo Gladiators</title>

    <link type="text/css" href="css/style.css" rel="stylesheet" />
</head>
<body>

<div id="main">
    <canvas id="canvas">Your browser is not supported.</canvas>

    <div id="gui">

        <h3>SCORE</h3>
        <ol id="score">
        </ol>

        <h3>TURN</h3>
        <div id="timer">
            Click when ready!
        </div>

        <div id="actions">
            <div class="controls">
                <div v-for="( value, action ) in controls" :class="[ 'action', action ]" @mouseenter="previewAction( value.power )" @mouseleave="endPreview( true )" @click="addAction( action )"></div>
            </div>

            <div class="list">
                <div v-for="( action, index ) in actions" :class="[ 'action', action ]" @mouseenter="previewAction( -controls[ action ].power )" @mouseleave="endPreview()" @click="removeAction( index )"></div>
            </div>
        </div>

        <div id="stats">
            <div class="stat health">
                <div class="current" :style="{ width: player.health + '%' }"></div>
            </div>
            <div class="stat power">
                <div class="current" :style="{ width: player.previewPower1 + '%' }"></div>
                <div class="action" :style="{ width: player.previewPower2 + '%' }"></div>
            </div>
            <div class="weapon">{{ player.weapon }}</div>
        </div>

        <div id="msg">
            {{ msg }}
        </div>

    </div>
</div>   

</div>

<script src="robo.js"></script>

</body>
</html>
